.background-img{
	  background-image: url('image.webp');
	  background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
	  height: 100%;
      background-position: center center;
      width: 1530px;
      height: 760px;
      position: relative;
      right: 10px;
      bottom: 10px;
}   
h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px;
}
.container{
    padding: 10px;
    background-color: white;
    text-align: center;
    width: 500px;
    height:200px;
    position: absolute;
    left: 500px;
    top: 300px;
    box-shadow: 2px 2px 7px #EDDFB3;
    border-radius: 10px;
}
.project{
    border-radius: 4px;
    border: none;
    background-color: #00D7FF;
    color: white;
    font-size: 20px;
    margin-top: 10px;
}
.project:hover{
    background-color: #2C3333;
    cursor: pointer;
}

.modal{
    text-align: center;
    background-color: white;
    padding: 10px;
    width: 400px;
    height:150px;
    position: absolute;
    left: 530px;
    top: 330px; 
    display: none ;
    background-color: #E8F9FD;
}
.cancel{
    border: none;
    background-color: white;
    position: relative;
    left: 180px;
}
.canimg{
    width: 30px;
    cursor: pointer;
}